<footer role="contentinfo">
  <div class="row wow fadeIn">


  <div class="small-12 medium-6 medium-centered large-uncentered large-6 action columns">
   <p>Ready for a change?</p> <a class="button" href="/hire-us/">Hire us.</a>
  </div>


  <div class="small-12 medium-6 medium-centered large-uncentered columns social">
    <ul>
      <li><a href="#">
        <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg> GitHub</a>
      </li>
      <li><a href="#"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg> Twitter</a></li>
      <li><a href="#">Blog</a></li>
    </ul>

  </div>
</div>

</footer>

<script src="{{ site.url }}/assets/js/vendor/classie.js"></script>
<script src="{{ site.url }}/assets/js/vendor/demo1.js"></script>

<!-- Google Analytics -->


</body>
</html>
