<footer role="contentinfo">
  <div class="row">
    <div class="small-12 large-8 large-offset-4 columns">

    <!--
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>

    -->

    <span>We’re changing how government does technology.</span>


  </div>



  <div class="small-12 large-4 action columns">

    <a class="button" href="/work-with-us/">Work with us</a>
  </div>

</div>

</footer>


<script src="/assets/js/foundation/foundation.js"></script>
<script src="/assets/js/foundation/foundation.reveal.js"></script>

<script>
$(document).foundation();
</script>

<!-- Google Analytics -->




</body>
</html>
