<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js ie-good" lang="en"><![endif]-->

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Ad Hoc LLC</title>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel='stylesheet' href='/assets/css/foundation.css'>

<!-- Icons -->
<link rel="shortcut icon" href="{{ site.url }}/assets/img/design/icons/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-57-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-72-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-114-precomposed.png">
<link rel="apple-touch-icon" sizes="157x157" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-157-precomposed.png">

<script src="/assets/js/vendor/modernizr.custom.js"></script>
<script src="/assets/js/vendor/jquery-1.11.0.min.js"></script>

<script type="text/javascript">

  Modernizr.load({
      test: Modernizr.touch,
      yep : ['/assets/js/vendor/jquery.smooth-scroll.js',
            '/assets/js/vendor/scroll-settings.js'],


      nope : ['/assets/js/vendor/jquery.stellar.js',
            '/assets/js/vendor/jquery.smooth-scroll.js',
            '/assets/js/vendor/scroll-settings.js',
            '/assets/js/vendor/stellar-settings.js']
  });

</script>






<!-- IE 8 Shims -->
<!-- http://foundation.zurb.com/forum/posts/241-foundation-5-and-ie8 -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->


</head>
<body>

<div class="row header">
	<div class="large-3 columns">
		<h1 role="banner"><a href="/">Ad Hoc</a></h1>
	</div><!--/large 6-->

	<div class="large-9 columns">
		{% include nav.html %}
	</div><!--/large 9-->

</div><!--/row header -->
