<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js ie-good" lang="en"><![endif]-->

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta content='website' property='og:type'>
<title>{{ page.title }} Ad Hoc</title>

<!-- Fonts -->

<!-- Icons -->
<link rel="shortcut icon" href="{{ site.url }}/assets/img/design/icons/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-57-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-72-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-114-precomposed.png">
<link rel="apple-touch-icon" sizes="157x157" href="{{ site.url }}/assets/img/design/icons/apple-icon-touch-157-precomposed.png">

<link rel='stylesheet' href='/assets/css/style.css?v={{ site.github.build_revision }}'>

<link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} RSS Feed" href="http://dannychapman.com/feed/">

<script>
  (function(d) {
    var config = {
      kitId: 'vhb1ims',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>


<script src="{{ site.url }}/assets/js/vendor/modernizr.js"></script>
<script src="{{ site.url }}/assets/js/vendor/jquery-1.7.2.min.js"></script>



<link rel="stylesheet" href="{{ site.url }}/assets/css/animate.css">



<script src="{{ site.url }}/assets/js/vendor/wow.min.js"></script>
<script>
 new WOW().init();
</script>



</head>
<body class="{{ page.layout }} post{{ page.id | replace:"/","-" }}">

<div class="header">
	<div class="row">
		<div class="small-3 large-3 columns">
			<h1 role="banner"><a href="/">Ad Hoc</a></h1>
		</div>

		<div class="small-7 large-7 columns text-right">
			{% include nav.html %}
		</div>

	</div>
</div>
