<button id="trigger-overlay" type="button"><svg class="icon icon-menu"><use xlink:href="#icon-menu"></use></svg> Menu</button>


<div class="overlay overlay-scale">
  <button type="button" class="overlay-close">Close</button>
  <nav role="menu">
    <ul class="nav">
      <li><a href="{{ site.url }}/case-studies/">Hire us</a></li>
      <li><a href="{{ site.url }}/case-studies/">Case studies</a></li>
      <li><a href="{{ site.url }}/our-team/">Our team</a></li>
      <li><a href="{{ site.url }}/hiring/">Join us</a></li>
      
    </ul>
  </nav>
</div>



<!--


-->
