// Ad Hoc LLC


// Colors

$primary-color: #9AD43F;
$secondary-color: #777;
$body-content-color: #444;
$body-accent-color: #F4F2F1;
$body-background-color: #fff;

// General

html, body {
  font-family: 'Roboto', sans-serif;
  color: $body-content-color;
  background: $body-background-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $primary-color;
  &:hover, &:active, &:focus {color: $secondary-color;}
}

abbr {
  border-bottom: none;
  text-decoration: none;
  color: inherit;
}

// Logo and Header

.header {
  width: 100%;
  clear: both;
  padding: 0 0 .5em 0;
  h1 {margin-bottom: 0; line-height: 1em;}
}

h1 a {
  text-indent: 180%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: url(../img/design/logo/logo.png) top center no-repeat;
  width: 130px;
  height: 28px;
  background-size: contain;
  @media #{$small} {
    background: url(../img/design/logo/logo.png) top center no-repeat;
    width: 169px;
    height: 45px;
    background-size: contain;
  }
}

// Type

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p, ul, ol, dl, {

}

// Header

.header {
  background: #fff;
  color: $primary-color;
  padding: 1em 0;
}

// Banner

.splash {
  padding: 2em 0;
  background: $primary-color;
  text-align: center;
  color: #fff;
  @media #{$small} {padding: 8em 0;}
  @media #{$medium} {padding: 8em 0;}
  @media #{$large} {padding: 10em 0;}
  h2, p {padding: 0; margin: 0; color: #fff; font-weight: 300;}
}

.primary {
  /*  background: rgba(0,0,0,.04); */
  padding: 1em 0;
  @media #{$small} {padding: 2em 0;}
  @media #{$medium} {padding: 4em 0;}
  h3 {
    padding: 0 0 .5em 0;
  }
}


// Navigation

nav {
  text-align: right;
  margin: .75em 0;
  li {
    color: $body-content-color;
    list-style: none; display: inline-block;
    padding: 0 1em;
    a {
      display: block;
      text-align: right;
      padding: .5em 0;
      color: $secondary-color;
      border-bottom: 5px solid #fff;
      &:hover {
        color: $primary-color;
        border-bottom: 5px solid rgba(0,0,0,.2);
      }
    }
  }
}

// Home Page

.home {
  .case-button {
    &:after {
      visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
    }
  }


  .row {

  }

  .pitch {
    background: #9DD349;
    color: #fff;
    padding: .25em 1em;
    height: 30em;
    p {
      padding: 1em 0;
      font-size: 1.5em;
    }
  }

  a {
    margin: 0;
    padding: .25em 1em;
    display: block;
    height: 10em;
    background: #ddd;
    &:hover {
      background: #eee;
    }
  }
}


// Primary content area

.primary {
  blockquote {
    border-left: none;
    text-align: center;
    font-size: 1.25em;
  }
}

// Team Block Grids

ul.team {
  li {

    img {width: 100%;}
    .about {
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      h3, p {margin: 0; padding: 0;}
      h3 {font-size: 1.2em; font-weight: 500;}
      p.title {font-size: .85em; padding-bottom: .75em; color: #777;}
      .description {font-size: .8em;}
      &:hover {}
      ul {margin: 0; padding: 1em 0;}
      li {list-style: none; margin: 0; border-bottom: none; padding: 0;}
    /*  &.paul {background: url(../img/content/paul.jpg) center no-repeat; background-size: cover;}
      &.greg {background: url(../img/content/greg.jpg) center no-repeat; background-size: cover;}
      &.bill {background: url(../img/content/bill.jpg) center no-repeat; background-size: cover;}
      &.danny {background: url(../img/content/danny.jpg) center no-repeat; background-size: cover;}
      */
    }

    .name {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

    }

  &:hover {

  }

  }

}


// Cards

.cards {
  a {
    display: block;
    position: relative;
    background: #eee;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
    min-height: 12em;

    h2, h3, h4, h5, h6 {padding: 0 0 .25em 0; margin: 0;}
    p {padding: 0;}
    div {
      position: absolute;
      bottom: 0;
      padding: .5em .5em 0 .5em;
      display: block;
      width: 100%;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      h4, p {color: #fff; padding: 0;}
      background: rgba(0,0,0,.75);
    }
    &:hover div {padding: .5em .5em 1em .5em;}
  }
}

// Footer

footer {
  background: rgba(0,0,0,.03);
  padding: 5em 0;
  ul {margin: 0; padding: 0;}
  li {list-style: none; display: inline-block; line-height: 1em; padding: 0; margin: 0;
    a {display: block; padding: 0 1em; margin: 0; line-height: 1em; }
    }

  p {margin: 0; padding: 0;}

  .action {text-align: right;}
  a.button {
    margin: 0;
    padding: 1em 2em;
    border: 2px solid $primary-color;
    line-height: 1em;
    &:hover, &:focus, &:active {background: $primary-color; color: #fff; }
  }

  }
