// Ad Hoc LLC


// Colors

$primary-color: #31B67B;
$secondary-color: #106792;
$body-content-color: #444;
$body-accent-color: #F4F2F1;
$body-background-color: #fff;

// General

html, body {
  background: $primary-color;
  font-family: "proxima-nova", sans-serif;
  color: $body-content-color;
  color: #444;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $primary-color;
  &:hover, &:active, &:focus {color: $secondary-color;}
}

abbr {
  border-bottom: none;
  text-decoration: none;
  color: inherit;
}

// Logo and Header

.header {
  width: 100%;
  a {border-bottom: none;}
  clear: both;
  padding: 0 0 .5em 0;
  h1 {margin-bottom: 0; line-height: 1em;}
}

h1 a {
  text-indent: 180%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: url(../img/design/logo/logo.png) top center no-repeat;
  width: 130px;
  height: 28px;
  background-size: contain;
  @media #{$small} {
    background: url(../img/design/logo/logo.png) top center no-repeat;
    width: 216px;
    height: 45px;
    background-size: contain;
  }
}

// Type

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "proxima-nova", sans-serif;
}

p, ul, ol, dl, {
  font-weight: 300;
  color: #444;
}

// Header

.header {
  background: $primary-color;
  color: #fff;
  padding: 1em 0;
}

// Banner

.splash {
  padding: 2em 0;
  background: $primary-color;
  text-align: center;
  color: #fff;
  @media #{$small} {padding: 8em 0;}
  @media #{$medium} {padding: 8em 0;}
  @media #{$large} {padding: 10em 0;}
  h2, p {padding: 0; margin: 0; color: #fff; font-weight: 300;}
}

.primary {
  /*  background: rgba(0,0,0,.04); */
  padding: 1em 0;
  @media #{$small} {padding: 2em 0;}
  @media #{$medium} {padding: 4em 0;}
  h3 {
    padding: 0 0 .5em 0;
  }
}


// Navigation

nav {
  text-align: right;
  margin: .75em 0;
  li {
    color: $body-content-color;
    list-style: none; display: inline-block;
    padding: 0 1em;
    a {
      display: block;
      text-align: right;
      padding: .5em 0;
      color: #fff;
      &:hover {
        color: $secondary-color; border-bottom: none;
      }
    }
  }
}

// Home Page

.home {
  .case-button {
    &:after {
      visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
    }
  }


  .row {

  }

  a {
    margin: 0;
    padding: .25em 1em;
  }
}


// Pitch

.pitch {
  @media #{$small} {padding: 3em 1em;}
  &.home {color: #fff; p {font-size: 1.4em;}}

  &.second, &.third, &.fourth {padding: 3em 0; background: #fff;}

  &.second {
    background: #fff url(../img/content/healthcare.jpg) top right no-repeat;
    background-size: 49%;
    padding: 10em 0;
    a {display: block; border-bottom: none;}
  }

  img {width: 100%;}

  h2, h3, h4, h5, h6 {
    color: $primary-color;
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  }


 span {color: $secondary-color; font-size: 1.35em;}

  &.home {
    h2 {color: #fff; @media #{$small} {font-size: 3.5em;}}
  }

}

a {
  border-bottom: 1px solid #ddd;
  &:hover {border-bottom: 1px solid $primary-color;}
}


// Primary content area

.primary {
  background: #fff;
}

blockquote {
  margin-top: 0; padding-top: 0;
  border-left: 2px solid #ddd;
  margin-bottom: 2.5em;
  line-height: 1.2em;
  p {
    font-size: 1.5em;
    font-weight: 500;
    color: $primary-color;
    margin: 0; padding: 0;
    }
}

// Team Block Grids

ul.team {
  li {

    img {width: 100%; margin-bottom: 1em;}
    .about {
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      h3, p {margin: 0; padding: 0;}
      h3 {font-size: 1.2em; font-weight: 500;}
      p.title {font-size: .85em; padding-bottom: .75em; color: #777;}
      .description {font-size: .8em;}
      &:hover {}
      ul {margin: 0; padding: 1em 0;}
      li {list-style: none; margin: 0; border-bottom: none; padding: 0;}
    /*  &.paul {background: url(../img/content/paul.jpg) center no-repeat; background-size: cover;}
      &.greg {background: url(../img/content/greg.jpg) center no-repeat; background-size: cover;}
      &.bill {background: url(../img/content/bill.jpg) center no-repeat; background-size: cover;}
      &.danny {background: url(../img/content/danny.jpg) center no-repeat; background-size: cover;}
      */
    }

    .name {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

    }

  &:hover {

  }

  }

}


// Cards

.cards {
  a {
    display: block;
    position: relative;
    background: #eee;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
    min-height: 12em;

    h2, h3, h4, h5, h6 {padding: 0 0 .25em 0; margin: 0;}
    p {padding: 0;}
    div {
      position: absolute;
      bottom: 0;
      padding: .5em .5em 0 .5em;
      display: block;
      width: 100%;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      h4, p {color: #fff; padding: 0;}
      background: rgba(0,0,0,.75);
    }
    &:hover div {padding: .5em .5em 1em .5em;}
  }
}

// Footer

footer {
  padding: 5em 0;
  a {
    &:hover {border-bottom: none;}
    border-bottom: none;
  }
  ul {margin: 0; padding: 0;}
  li {list-style: none; display: inline-block; line-height: 1em; padding: 0; margin: 0;
    a {display: block; padding: 0 1em; color: #fff; margin: 0; line-height: 1em;  }
    }

  p {margin: 0; padding: 0;}

  .action {text-align: right;}
  a.button {
    margin: 0;
    padding: 1em 2em;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    line-height: 1em;
    &:hover, &:focus, &:active {background: $primary-color; color: $primary-color; background: #fff;}
  }

}

// Form

form {
  margin: 0;
  padding: 0;
  ol {margin: 0; padding: 0; li {margin: 0 0 1em 0; display: block; padding: 0;}}
  label {color: #555; padding: .35em 0;}
}

.row input[type="text"], .row textarea {
  width: 100%;
  font-size: 1em;
  padding: .5em;
  font-weight: normal;
  font-weight: 300;
  margin-bottom: 1em;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  border: 2px solid #ccc;
}

.required-message {
  position: relative;
  left: -9999em;
}

.row textarea {
  height: 15em;
}

table#navigation-table {
  width: 100%;
}

.row input[type="submit"] {
  padding: .75em 2.5em;
  border: none;
  color: #fff;
  font-size: 1em;
  background: $secondary-color;
  display: block;
  cursor: pointer;
  font-weight: 700;
  -webkit-appearance: none;
  &:hover {background: darken($secondary-color, 5);}
}


.ss-form-entry {margin: 0 0 .75em 0;}
