{% include header.html %}

<div class="main" role="main">

<div class="pitch third">

  <div class="row">
    <div class="small-12 columns">

      <h3>Case studies</h3>

      <ul class="small-block-grid-3">
        <li>
          <a href="/case-studies/window-shopping.html">
            <h3>Health care window shopping</h3>
            <span>Healthcare.gov</span>
          </a>
        </li>

        <li>
          <a href="#">
            <h3>Patient evaluations made better</h3>
            <span>VA clinician user interface</span>
          </a>
        </li>

        <li>
          <a href="#">
            <h3>Focused on Veteran&rsquo;s Needs</h3>
            <span>A streamlined Veterans.gov</span>
          </a>
        </li>


      </ul>

    </div>
  </div>

</div>

</div>

{% include footer.html %}
