{% include header.html %}

<div class="main" role="main">
  <div class="primary interior">
    <div class="row">
      <div class="small-12 columns">

        <h2>Case studies</h2>

        <ul class="small-block-grid-1 medium-block-grid-2 cases">
          <li>
            <a href="/case-studies/window-shopping/">
              <h3>Health care window shopping</h3>
              <span>HealthCare.gov</span>
            </a>
          </li>

          <li>
            <a href="/case-studies/patient-evaluations/">
              <h3>Patient evaluations made better</h3>
              <span>VA clinician user interface</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
{% include footer.html %}
