{% include header.html %}

<div class="main" role="main">
  <div class="primary">
    <div class="row">
      <div class="small-12 columns">

        <h2>Case studies</h2>

        <ul class="small-block-grid-1 medium-block-grid-2 cases">
          <li>
            <a href="/case-studies/window-shopping/">
              <div class="about window-shopping">
                <div class="name">
                  <h3>Health care window shopping</h3>
                  <span>HealthCare.gov</span>
                </div>
            </div>
            </a>
          </li>

          <li>
            <a href="/case-studies/patient-evaluations/">
              <div class="about patient-evaluations">
                <div class="name">
                  <h3>Patient evaluations made better</h3>
                  <span>VA clinician user interface</span>
                </div>
              </div>
            </a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
{% include footer.html %}
