{% include header.html %}

<div class="main" role="main">
  <div class="home">
    <div class="pitch home">
      <div class="row">
        <div class="small-12 medium-9 large-6 columns">
          <h2>Changing the way government does technology.</h2>
        </div>
      </div>
    </div>
  </div>
</div>


  <a href="/case-studies/window-shopping.html" class="bar">
    <div class="pitch second">
      <div class="row">
        <div class="small-12 large-6 columns">
          <h3>Healthcare shopping made easy.</h3>
          <span>Helping people make sense of their healthcare choices.</span>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="bar">
    <div class="pitch third">
      <div class="row">
        <div class="small-12 large-6 columns wow slideInLeft">
          <img src="http://placehold.it/650x450">
        </div>

        <div class="small-12 large-6 columns wow fadeIn">
          <h3>Helping veterans get their care, faster.</h3>
          <span>Rethinking the veteran’s medical examination experience.</span>
        </div>
      </div>
    </div>
  </a>
  </div>
</div>

{% include footer.html %}
