{% include header.html %}

<div id="content">

<div class="banner" id="banner" data-stellar-background-ratio="0.5">

<div class="row">
  <div class="small-10 medium-9 small-centered columns">
    <h2><span>We fixed healthcare.gov</span></h2>
  </div>
</div>

</div>



<div class="row opening-pitch">
  <div class="small-11 large-8 small-centered columns">

    <p><strong>We can do the same for you.</strong> We develop sites and applications with agility. We minimize your risk by assembling expert small teams for your project. We bring private sector standards and effectiveness to citizen-to-government interactions.</p>

  </div>
</div>


<div class="people" id="team">
  <div class="row">

    <div class="small-12 columns">
      <h3>Our Team</h3>
    </div>

    <div class="gershman">

      <div class="row team-member">
        <div class="small-12 columns">
          <h4><span>Greg</span> Gershman</h4>
          <h5>Principal/Co-founder</h5>
        </div>
          <div class="large-8 columns">
          <p>Greg Gershman is an experienced software developer and entrepreneur.  Greg&rsquo;s career has included work in both government contracting and startups.  In 2003, Greg founded his first company, Blogdigger, one of the first blog search engines.  In 2012, Greg became one of the inaugural Presidential Innovation Fellows, working with the White House and General Services Administration on Project MyUSA, a platform for citizen-centric government applications.  In mid-October of 2013, Greg was part of the &ldquo;tech surge&rdquo; that was brought in to fix HealthCare.gov after its troubled launch. Greg&rsquo;s experience with HealthCare.gov, as well as his passion for helping government improve how it approaches IT projects, led him to co-found Ad Hoc LLC, a software consultancy aimed at changing how government does technology.</p>
        </div>

        <div class="large-3 columns headshot">
          <img class="no-tint" src="assets/img/content/greg.jpg" alt="Greg Gershman"><img class="tint" src="assets/img/content/greg-tint.jpg" alt="Greg Gershman">
        </div>

      </div>

    </div>


  <div class="smith">

    <div class="row team-member">
      <div class="small-12 columns">
        <h4><span>Paul</span> Smith</h4>
        <h5>Principal/Co-founder</h5>
      </div>

      <div class="large-8 columns">
        <p>&nbsp;</p>
      </div>

      <div class="large-3 columns head-shot">
        <img class="no-tint" src="assets/img/content/paul.jpg" alt="Paul Smith"><img class="tint" src="assets/img/content/paul-tint.jpg" alt="Paul Smith">
      </div>

    </div>
  </div>

  <div class="smith">

    <div class="row team-member">
      <div class="small-12 columns">
        <h4><span>Bill</span> Mill</h4>
        <h5>Developer</h5>
      </div>

      <div class="large-8 columns">
          <p>&nbsp;</p>
      </div>

      <div class="large-3 columns head-shot">
        <img class="no-tint" src="assets/img/content/bill.jpg" alt="Bill Mill"><img class="tint" src="assets/img/content/bill-tint.jpg" alt="Bill Mill">
      </div>

    </div>
  </div>




  <hr />

  <div class="dickerson">
    <div class="row team-member">
      <div class="small-12 columns">
        <h4><span>Mikey</span> Dickerson</h4>
        <h5>Partner/Co-founder</h5>
      </div>

        <div class="small-12 large-8 columns">

        <p>Mikey Dickerson is a former Site Reliability Engineer at Google, where he worked on Google ads serving systems, MySQL, and Spanner.  He volunteered for the Obama technology team in Chicago in 2008 and 2012, and was later called to help with the &ldquo;ad hoc&rdquo; rescue team for healthcare.gov. He lives in Mountain View, California, and has a degree in mathematics from Pomona College.</p>
      </div>

      <div class="small-12 large-3 columns">
        <img src="http://placekitten.com/g/1200/1200">
      </div>

    </div>
  </div>


<div class="kim">

  <div class="row team-member">
    <div class="small-12 columns">
      <h4><span>Jini</span> Kim</h4>
      <h5>Partner/Co-founder</h5>
    </div>

      <div class="small-12 large-8 columns">

        <p>&nbsp;</p>
    </div>

    <div class="small-12 large-3 columns">
      <img src="http://placekitten.com/g/800/800">
    </div>

  </div>
</div>



</div>




</div>

<div class="get-in-touch" id="getintouch">

  <div class="row">
    <div class="small-12 large-7 small-centered columns">
      <h4>Get in touch</h4>

      <!-- form -->

        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe"
        style="display:none;" onload="if(submitted)
        {window.location='/thankyou.html';}"></iframe>

<form action="https://docs.google.com/forms/d/1zFBAgHP4430xSWtrQNMdSb_DVjM9RbhqELSvY6dWu38/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;"><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_556592199">
<div class="ss-q-help ss-secondary-text" dir="ltr">Email</div></label>
<input type="text" name="entry.556592199" value="" class="ss-q-short" id="entry_556592199" dir="auto" aria-label="Email Your email address " aria-required="true" required="" title="">
<div class="error-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1454659395">
<div class="ss-q-help ss-secondary-text" dir="ltr">Name</div></label>
<input type="text" name="entry.1454659395" value="" class="ss-q-short" id="entry_1454659395" dir="auto" aria-label="Name What should we call you? " title="">
<div class="error-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1697826653">
<div class="ss-q-help ss-secondary-text" dir="ltr">Tell us about your project</div></label>
<textarea name="entry.1697826653" rows="8" cols="0" class="ss-q-long" id="entry_1697826653" dir="auto" aria-label="Tell us a little about your project How can we help you? "></textarea>
<div class="error-message"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;190636233870990154&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="190636233870990154">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Send" id="ss-submit">
</td>
</tr></tbody></table></div></ol></form>


      </div>
    </div>
  </div>

</div><!-- /content -->

{% include footer.html %}
