{% include header.html %}

<div class="main" role="main">
  <div class="home">

    <div class="pitch home">
      <div class="row">
        <div class="small-12 large-6 columns">

          <h2>Changing the way government does technology.</h2>


        </div>
      </div>
    </div>

  </div>
</div>



    <div class="pitch second">
      <div class="row">
        <a href="/case-studies/window-shopping.html">
        <div class="small-12 large-6 columns">

              <h3>Healthcare shopping made easy.</h3>
              <span>Helping people make sense of their healthcare choices.</span>

          </div>

          <div class="small-12 large-6 columns">
          </div>
          </a>
        </div>
      </div>

      <div class="pitch third">
        <div class="row">
          <a href="#">
          <div class="small-12 large-6 columns">
            <img src="http://placehold.it/650x450">
          </div>

          <div class="small-12 large-6 columns">


          <h3>Helping veterans get their care, faster.</h3>
          <span>Rethinking the veteran’s medical examination experience. </span>

        </div>
      </a>
    </div>
  </div>


  </div>

</div>

{% include footer.html %}
