<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://rawgit.com/greggersh/jsmodal/master/modal.js"></script>
</head>
<body>
<a href="#" id="button" class="button">Click here for America</a>
  
<p id="dialog" style="display: none;">
  <img src="http://stream1.gifsoup.com/view2/1216603/kenny-powers-american-o.gif">
</p>
</body>
</html>