{% include header.html %}

<div class="main case-study" role="main">

  <div class="splash study">
    <div class="row">
      <div class="small-12 medium-11 large-10 columns">
          <h2>Beter Veteran Medical Examinations</h2>
          <p class="feature">Faced with a growing backlog of claims, we built a new, flexible solution that helps VA medical examiners do what they do best — help patients get the care they need.</p>
        </div>
      </div>
    </div>

    <div class="primary">

      <div class="row">
        <div class="small-12 columns">
          <img class="feature" src="{{ site.url }}/assets/img/content/cui-large.png" />
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-3 columns sidebar">

          <h4>Project Members</h4>
          <ul>
            <li>Greg Gershman</li>
            <li>Bill Mill</li>
            <li>Michael Miller</li>
            <li>Danny Chapman</li>
          </ul>

          <h4>Project Duration</h4>
          <p>12 months</p>

          <h4>Technology</h4>
          <ul>
            <li>Ruby on Rails</li>
            <li>PostgreSQL</li>
            <li><abbr>SASS</abbr></li>
            <li>HAML</li>
          </ul>


        </div>

        <div class="small-12 medium-8 columns main">
          <h4>The Problem</h4>
          <p>Hundreds of medical forms stranded in legacy software needed to be incorporated into an online solution for medical examiners, and quickly.</p>
          <h4>The Solution</h4>
          <p>Ad Hoc built a lightweight form markup language that made it easy to add forms to a flexible, responsive web application for medical examiners. This solution replaced a legacy desktop application with a web-based solution that is never out of date, and can run in any platform with a modern web browser. Medical evalutations can be entered on an smart phone as easily as on a desktop.</p>

          <blockquote class="wow fadeIn" data-wow-delay="0.75s">
            <p>&ldquo;Ad Hoc brought an agile solution that responded perfectly to a complex problem.&rdquo;</p>
            <p class="source">- Marina Martin, <abbr title="Chief Technology Officer">CTO</abbr>, Department of Veterans Affairs</p>
          </blockquote>

        </div>
      </div>
    </div>
</div>

{% include footer.html %}
