{% include header.html %}

<div class="main case-study" role="main">

  <div class="splash study">
    <div class="row">
      <div class="small-12 medium-11 large-10 columns">
          <h2>Beter Veteran Medical Examinations</h2>
          <p class="feature">Faced with a growing backlog of claims, we built a new, flexible solution that helps VA medical examiners do what they do best — help patients get the care they need.</p>
        </div>
      </div>
    </div>

    <div class="primary">

      <div class="row">
        <div class="small-12 columns">
          <img class="feature" src="{{ site.url }}/assets/img/content/cui-large.png" />
        </div>
      </div>
      <div class="write-up">
        <div class="row">
          <div class="small-12 medium-3 columns sidebar">

            <h4>Project Members</h4>
            <ul>
              <li><a href="https://github.com/dannychapman"><img class="profile" src="/assets/img/content/danny.jpg" alt="Greg" /> Danny Chapman <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>

              <li><a href="https://github.com/greggersh"><img class="profile" src="/assets/img/content/greg.jpg" alt="Greg" /> Greg Gershman <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>

              <li><a href="https://github.com/llimllib"><img class="profile" src="/assets/img/content/bill.jpg" alt="Greg" /> Bill Mill <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>

              <li><a href="https://github.com/mjmiller"><img class="profile" src="/assets/img/content/michael.jpg" alt="Greg" /> Michael Miller <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
            </ul>

            <h4>Project Duration</h4>
            <p>12 months</p>

            <h4>Technology</h4>
            <ul class="listing">
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li><abbr>SASS</abbr></li>
            </ul>


          </div>

          <div class="small-12 medium-8 columns main">
            <h4>The Problem</h4>
            <p>Hundreds of medical forms stranded in legacy software needed to be incorporated into an online solution for medical examiners, and quickly.</p>
            <h4>The Solution</h4>
            <p>Ad Hoc designed and developed CUI (Clinician User Interface), to enable VA examiners to evaluate Veterans' disabilities for claims processing, replacing a legacy desktop application with a web-based solution that is never out of date, and can run on any platform with a modern web browser. To ease the burden of developing forms for hundreds of exams, Ad Hoc created a form markup language that's easy to understand so that non-technical analysts could keep the VA exams up to date.</p>


          </div>
        </div>
      </div>  
    </div>
</div>

{% include footer.html %}
