{% include header.html %}

<div class="main" role="main">

  <div class="primary interior">
    <div class="row">
      <div class="small-12 columns">
        <h2>Our team</h2>

          <ul class="team small-block-grid-1 medium-block-grid-2 large-block-grid-4">
            <li class="team-member">
              <div class="about paul">
                <div class="name">
                  <h3>Paul Smith</h3>
                  <p class="title">Principal / Co-founder</p>
                </div>

              <div class="description">
                <p>Paul Smith is a software engineer who has been developing applications professionally for more than 15 years.  In addition to being the deputy director of technology for the DNC during the re-election campaign of President Barack Obama, Paul was part of the team that  fixed the troubled HealthCare.gov launch.</p>
                <ul>
                  <li><a href="https://pauladamsmith.com/">pauladamsmith.com</a></li>
                  <li><a href="https://github.com/paulsmith">GitHub</a></li>
                </ul>
              </div>
            </div>
            </li>


            <li class="team-member">
              <div class="about greg">
              <div class="name">
                <h3>Greg Gershman</h3>
                <p class="title">Principal / Co-founder</p>

              </div>
              <div class="description">
                <p>An experienced software developer and entrepreneur, Greg’s career has included work in both government and startups. Greg’s experience as part of the “tech surge” that fixed HealthCare.gov after its troubled launch, and his belief that agile technology can improve how government approaches IT, led him to co-found Ad Hoc. </p>
                <ul>
                  <li><a href="http://linkedin.com/in/greggershman">LinkedIn</a></li>
                  <li><a href="http://github.com/greggersh">GitHub</a></li>
                </ul>
              </div>
            </div>
            </li>

            <li class="team-member">
              <div class="about mike">
              <div class="name">
                <h3>Mike Auclair</h3>
                <p class="title">Developer</p>

              </div>
              <div class="description">
                <p>Mike is a software engineer with ten years industry experience, building applications CRMs, real estate platforms and large-scale applications for government. </p>

                <ul>
                  <li><a href="https://www.linkedin.com/in/mikeauclair">LinkedIn</a></li>
                  <li><a href="http://github.com/mikeauclair">GitHub</a></li>
                </ul>

              </div>
            </div>
            </li>

            <li class="team-member">
              <div class="about todd">
              <div class="name">
                <h3>Todd Calvert</h3>
                <p class="title">Developer</p>

              </div>
              <div class="description">
                <p>Todd has over twelve years industry experience, and is passionate about crafting good software with beautiful code.</p>

                <ul>
                  <li><a href="https://github.com/calveto">GitHub</a></li>
                </ul>

              </div>
            </div>
            </li>


            <li class="team-member">
              <div class="about danny">
              <div class="name">
                <h3>Danny Chapman</h3>
                <p class="title">Creative Director</p>

              </div>
              <div class="description">
                <p>A designer of applications and services, Danny has over 10 years experience improving citizen interactions with government. Danny specializes in taking government user experience from backwards and dated, to cutting edge and award-winning.</p>

                <ul>
                  <li><a href="http://dannychapman.com">dannychapman.com</a></li>
                  <li><a href="https://github.com/dannychapman">GitHub</a></li>
                </ul>
              </div>
            </div>
            </li>

            <li class="team-member">
              <div class="about ulana">
              <div class="name">
                <h3>Ulana Chapman</h3>
                <p class="title">Designer</p>

              </div>
              <div class="description">
                <p>After leaving the non-profit world to have a pair of kids, she started freelancing with Danny on web design projects. The bug bit hard, and now her toolbox contains HTML, CSS and UX in addition to Creative Suite. Always looking to solve a problem, Ulana isn’t happy until she’s figured it all out.</p>
              </div>
            </div>
            </li>

            <li class="team-member">
              <div class="about bill">
              <div class="name">
                <h3>Bill Mill</h3>
                <p class="title">Developer</p>

              </div>
              <div class="description">
                <p>Bill is a software developer with more than 10 years of experience creating programs of all sorts. He gets data from the database to where it needs to go with a minimum of fuss and a maximum of efficiency.</p>
                <ul>
                  <li><a href="http://billmill.org">billmill.org</a></li>
                  <li><a href="http://github.com/llimllib">GitHub</a></li>
                </ul>
              </div>
            </div>
            </li>


            <li class="team-member">
              <div class="about michael">
              <div class="name">
                <h3>Michael Miller</h3>
                <p class="title">Developer</p>
              </div>
              <div class="description">
                <p>With a background in academia (computer science and formal reasoning systems), government, and private industry, Michael has been developing software for more than 15 years. He has a strong interest in research which has led to a number of patents and successful applications.</p>

                <ul>
                  <li><a href="https://github.com/mjmiller">GitHub</a></li>
                </ul>

              </div>
            </div>
            </li>

          </ul>


      </div>
    </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
