{% include header.html %}

<div class="main" role="main">


    <div class="splash">
      <div class="row">
        <div class="small-12 medium-10 medium-centered columns">


            <h2>Window shop for healthcare.</h2>

            <h3>Ad Hoc delivered Healthcare.gov's first window shopping application, enabling Americans to quickly and easily compare plans without the hassle of creating an account.</h3>
          </div>
        </div>
      </div>


    <div class="primary">
      <div class="row">
        <div class="small-12 columns">


            <h4>Project Members</h4>
            <p>Greg Gershman, Paul Smith, Danny Chapman</p>
            <h4>Project Duration</h4>
            <p>5 months</p>

            <h4>The Problem</h4>
            <p>Healthcare.gov needed a way for shoppers to view plans without being caught in the bottleneck of creating an account.</p>
            <h4>The Solution</h4>
            <p>Ad Hoc was engaged by the Centers for Medicare and Medicaid Services to fully redesign, develop and operate the Premium Estimation Tool (https://www.healthcare.gov/see-plans/) and Tax Tools (https://www.healthcare.gov/taxes/tools/silver/) for Open Enrollment 2015 (November 2014 - March 2015). With a 3-person agile development team and less than 5 months of development time, we delivered a responsive-designed solution that served over 400 million pages, the highest traffic portion of HealthCare.gov, with zero downtime, over the course of Open Enrollment 2015.</p>
            <h4>Technology</h4>
            <ul>
              <li>Go</li>
                <li>LESS</li>
                  <li>Angular</li>
                    <li>beer</li>


    </div>
  </div>
</div>

{% include footer.html %}
