{% include header.html %}

<div class="main case-study" role="main">


    <div class="splash study">
      <div class="row">
        <div class="small-12 medium-11 large-9 columns">


            <h2>Window shop for healthcare.</h2>
            <p class="feature">We delivered HealthCare.gov's first window shopping application, empowering millions of Americans to quickly comparison shop for health insurance.</p>


          </div>
        </div>
      </div>


    <div class="primary">

      <div class="row">
        <div class="small-12 columns">


          <img class="feature" src="{{ site.url }}/assets/img/content/healthcare-large.png" alt="screenshot" />

        </div>
      </div>

      <div class="row">

        <div class="small-12 medium-8 medium-push-4 columns main">
          <h4>The Problem</h4>
          <p>HealthCare.gov needed a way for shoppers to view plans without being caught in the bottleneck of creating an account.</p>
          <h4>The Solution</h4>
          <p>Ad Hoc was engaged by the Centers for Medicare and Medicaid Services to fully redesign, develop and operate the <a href="https://www.healthcare.gov/see-plans/">Premium Estimation Tool</a> (PET) for open enrollment 2015 (November 2014 - March 2015). With a small agile development team and less than 5 months of development time, Ad Hoc delivered a responsive, mobile-first solution that served over 400 million unique visits, the highest traffic portion of HealthCare.gov, with no downtime, over the course of open enrollment for 2015.</p>
          <p>As tax season approached, CMS wanted to provide a tool to taxpayers to help them complete the new required forms for the Affordable Care Act. Leveraging core functionality from PET, Ad Hoc was able to build two tax calculator applications (<a href="https://www.healthcare.gov/taxes/tools/silver/">the SLCSP tool</a> and the <a href="https://www.healthcare.gov/taxes/tools/bronze/">the LCBP tool</a>) in only a month that provided this much needed-information to taxpayers.</p>

          <blockquote class="wow fadeIn" data-wow-delay="0.75s">
            <p>&ldquo;Quote here&rdquo;</p>
            <p class="source">- John Doe, <abbr title="Centers for Medicare and Medicaid">CMS</abbr>.</p>
          </blockquote>

        </div>

        <div class="small-12 medium-3 medium-pull-9 columns sidebar">
          <h4>Project Members</h4>
        <ul>
          <li><a href="https://github.com/dannychapman"><img class="profile" src="/assets/img/content/danny.jpg" alt="Danny" />Danny Chapman <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
          <li><a href="https://github.com/greggersh"><img class="profile" src="/assets/img/content/greg.jpg" alt="Greg" />Greg Gershman <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
          <li><a href="https://github.com/srobbin"><img class="profile" src="/assets/img/content/scott.png" alt="Scott" />Scott Robbin <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
          <li><a href="https://github.com/paulsmith"><img class="profile" src="/assets/img/content/paul.jpg" alt="Paul" />Paul Smith <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
          <li><a href="https://github.com/jeremywohl"><img class="profile" src="/assets/img/content/jeremy.jpg" alt="Jeremy" />Jeremy Wohl <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
        </ul>
          <h4>Project Duration</h4>
          <p>5 months</p>


          <h4>Technology</h4>
          <ul class="listing">
            <li>Go</li>
            <li><abbr>LESS</abbr></li>
            <li>AngularJS</li>
            <li>PostgreSQL</li>
            <li>Amazon Web Services</li>
            <li>Ansible</li>
          </ul>

          <a class="button small" href="https://healthcare.gov/see-plans/">View site</a>

        </div>

        </div>
      </div>
    </div>

{% include footer.html %}
