{% include header.html %}

<div class="main" role="main">


    <div class="primary">
      <div class="row">
        <div class="small-12 columns">

            <h2>We're hiring. </h2>

            <p>Specializing in government-to-consumer web applications, Ad Hoc LLC brings the best talent and technology from the private sector to public sector projects.</p>
          </div>
        </div>
      </div>

    <div class="pitch second">
      <div class="row">
        <div class="small-12 columns">
          <h4>Software Engineer</h4>

          <p>Are you a software engineer interested in working on problems that potentially impact millions of Americans? Solve our <a href="https://github.com/adhocteam/adhoc_homework/">code challenges</a> and <a href="{{ site.url }}/contact/">get in touch</a>. We are inclusive, and if you are a woman or person of color, we want to work with you.</p>

          <h4>Designer / Front end developer / UX</h4>

          <p>We are looking for civic-minded designers to bring good design and serious UX chops to solve big problems. <a href="https://github.com/adhocteam/adhocteam.github.io"> Fork our website</a> send us a pull request and show us what you've got, along with your GitHub profile and a resume. We are inclusive, and if you are a woman or person of color, we want to work with you.</p>

        </div>
      </div>
    </div>

    </div>
  </div>
</div>

{% include footer.html %}
