{% include header.html %}

<div class="main" role="main">


    <div class="primary">
      <div class="row">
        <div class="small-12 columns">


            <h2>{{ page.title }}</h2>

            <p>We're hiring! Specializing in government-to-consumer web applications Ad Hoc LLC brings the best talent and technology from the private sector to public sector projects.</p>
          </div>
        </div>
      </div>

    <div class="splash">
      <div class="row">
        <div class="small-12 columns">
          <h4>Software Engineer</h4>

          <p>Are you a software engineer interested in working on problems that potentially impact millions of Americans? Solve our <a href="https://github.com/adhocteam/adhoc_homework/">code challenges</a> and <a href="{{ site.url }}/contact/">get in touch</a>. We are inclusive, and if you are a woman or person of color, we want to work with you.</p>

          <h4>Front-End Designer</h4>

          <p>We are looking for civic-minded designers to bring good design and serious UX chops to solve big problems. Fork AdHoc Design / and give us a pull request with links to your portfolio and resume. We are inclusive, and if you are a woman or person of color, we want to work with you.</p>

        </div>
      </div>
    </div>

      <div class="row">
        <div class="small-12 columns">

          <h3>Our team</h3>

            <ul class="team small-block-grid-1 large-block-grid-4">
              <li class="team-member">
                <div class="row">
                  <div class="small-12 columns">
                    <img src="/assets/img/content/paul.jpg" alt="Paul Smith" />
                  </div>
                  <div class="small-12 columns">
                <div class="about paul">
                  <div class="name">
                    <h3>Paul Smith</h3>
                    <p class="title">Principal / Co-founder</p>
                  </div>
                  <div class="description">
                    <p>Paul Smith is a software engineer who has been developing applications professionally for more than 15 years.  In addition to being the deputy director of technology for the DNC during the re-election campaign of President Barack Obama, Paul was part of the team that  fixed the troubled HealthCare.gov launch.</p>
                    <ul>
                      <li><a href="https://pauladamsmith.com/">pauladamsmith.com</a></li>
                      <li><a href="https://github.com/paulsmith">GitHub</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              </li>

              <li class="team-member">
                <div class="row">
                  <div class="small-12 columns">
                    <img src="/assets/img/content/greg.jpg" alt="Greg Gershman" />
                  </div>
                  <div class="small-12 columns">
                    <div class="about greg">

                  <div class="name">
                    <h3>Greg Gershman</h3>
                    <p class="title">Principal / Co-founder</p>
                  </div>
                  <div class="description">
                    <p>An experienced software developer and entrepreneur, Greg’s career has included work in both government contracting and startups. Greg’s experience as part of the “tech surge” that fixed HealthCare.gov after its troubled launch, and his belief that agile technology can improve how government approaches IT projects, led him to co-found Ad Hoc, LLC. </p>
                    <ul>
                      <li><a href="http://linkedin.com/in/greggershman">LinkedIn</a></li>
                      <li><a href="http://github.com/greggersh">GitHub</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              </li>

              <li class="team-member">
                <div class="row">
                  <div class="small-12 columns">
                    <img src="/assets/img/content/bill.jpg" alt="Bill Mill" />
                  </div>
                  <div class="small-12 columns">
                <div class="about bill">
                  <div class="name">
                    <h3>Bill Mill</h3>
                    <p class="title">Developer</p>
                  </div>
                  <div class="description">
                    <p>Bill is a software developer with more than 10 years of experience creating programs of all sorts. He gets data from the database to where it needs to go with a minimum of fuss and a maximum of efficiency.</p>
                    <ul>
                      <li><a href="http://billmill.org">billmill.org</a></li>
                      <li><a href="http://github.com/llimllib">GitHub</a></li>
                    </ul>
                  </div>
                </div>
              </div>
                </div>
              </li>

              <li class="team-member">
                <div class="row">
                  <div class="small-12 columns">
                    <img src="/assets/img/content/danny.jpg" alt="Danny Chapman" />
                  </div>
                  <div class="small-12 columns">
                <div class="about danny">
                  <div class="name">
                    <h3>Danny Chapman</h3>
                    <p class="title">Creative Director</p>
                  </div>

                  <div class="description">
                    <p>A designer of applications and services, Danny has over 10 years experience improving citizen interactions with government. Danny specializes in taking government user experience from backwards and dated, to cutting edge and award-winning.</p>

                    <ul>
                      <li><a href="http://dannychapman.com">dannychapman.com</a></li>
                      <li><a href="http://github.com/dannychapman">GitHub</a></li>

                    </ul>
                  </div>

                </div>
              </div>
            </div>
              </li>

            </ul>

        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
