{% include header.html %}

<div class="main" role="main">


    <div class="primary">
      <div class="row">
        <div class="small-12 large-9 columns">

            <h2>Hire us.</h2>


            <blockquote>
            <p>ad hoc, ˌad ˈhäk/ <i>adjective & adverb</i></p>
            <span>formed, arranged, or done for a particular purpose only.</span>
            </blockquote>

            <p>Specializing in government-to-consumer web applications, Ad Hoc LLC brings the best talent and technology from the private sector to public sector projects.</p>
            <p>We are more effective because we're small.  As a small effective team, we can work with you to uncover your requirements.  We're not the status quo — we envision a different model for contractors or consultants.  We are not contractors — we are collaborators.</p>
            <p>Our small team works with your team to problem solve. As our backgrounds show, we are most interested in the best solution for the government — not the biggest financial win for ourselves.  We're interested in a better, smarter, more effective and scalable way for government to do technology. </p>
          </div>
        </div>


      <div class="row">
        <div class="small-12 large-8 columns">
          <h3>Ready to get to work?</h3>

          <!-- form -->
      <script type="text/javascript">
var submitted=false;
      </script> <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/thankyou.html';}"></iframe>
      <form action="https://docs.google.com/forms/d/1zFBAgHP4430xSWtrQNMdSb_DVjM9RbhqELSvY6dWu38/formResponse" method="post" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;" name="ss-form">
        <div role="list" class="ss-question-list" style="padding-left: 0; padding-top: 1em;">
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <div class="ss-q-help ss-secondary-text" dir="ltr">
                  <label class="ss-q-item-label" for="entry_556592199">Email</label>
                </div><input type="text" name="entry.556592199" value="" class="ss-q-short" id="entry_556592199" dir="auto" aria-label="Email Your email address" aria-required="true" required="" title="">
                <div class="error-message"></div>
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-text">
              <div class="ss-form-entry">
                <div class="ss-q-help ss-secondary-text" dir="ltr">
                  <label class="ss-q-item-label" for="entry_1454659395">Name</label>
                </div><input type="text" name="entry.1454659395" value="" class="ss-q-short" id="entry_1454659395" dir="auto" aria-label="Name What should we call you?" title="">
                <div class="error-message"></div>
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-paragraph-text">
              <div class="ss-form-entry">
                <div class="ss-q-help ss-secondary-text" dir="ltr">
                  <label class="ss-q-item-label" for="entry_1697826653">Tell us about your project</label>
                </div>
                <textarea name="entry.1697826653" rows="8" cols="0" class="ss-q-long" id="entry_1697826653" dir="auto" aria-label="Tell us a little about your project How can we help you?">
</textarea>
                <div class="error-message"></div>
              </div>
            </div>
          </div><input type="hidden" name="draftResponse" value="[,,&quot;190636233870990154&quot;] "> <input type="hidden" name="pageHistory" value="0"> <input type="hidden" name="fbzx" value="190636233870990154">
          <div class="ss-item ss-navigate">
            <table id="navigation-table">
              <tbody>
                <tr>
                  <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                    <input type="submit" name="submit" value="Send" id="ss-submit">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>

    </div>
      </div>
    </div>

    </div>
  </div>
</div>

{% include footer.html %}
